<div class="msg-container" *ngIf="winnerDisplay">
  <p id="msg">{{winnerMsg}}</p>
  <button (click)="resetGame()" id="new-btn">New Game</button>
</div>
<main *ngIf="!winnerDisplay">
  <h1>Tic Tac Toe</h1>
  <div class="container">
    <div class="game">
      <button (click)="handleBox(i)" [disabled]="square || disableBox" class="box" 
      *ngFor="let square of board; let i = index">{{square}}</button>
    </div>
  </div>
  <button (click)="resetGame()" id="reset-btn">Reset Game</button>
</main>

<h5>&copy; 2024 Manoj S J | All Rights Reserved</h5>
